<!DOCTYPE html>
<html>
  <head>
    <title>WebRTC Video Chat</title>
  </head>
  <body>
    <video id="local" autoplay></video>
    <video id="remote" autoplay></video>
    <button id="call">call</button>
    <button id="ans">ans</button>
    <script type="module" src="/validations.js"></script>
    <script type="module" src="/main.js"></script>
  </body>
</html>
